<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blogapp/main.css'%}">

    {% if title%}
        <title>Django Blog - {{title}}</title>
    {%else%}
        <title>Django Blog</title>
    {%endif%}
</head>

<body>

    <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
              <a class="navbar-brand mr-4" href="/">Django Blog</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                      <a class="nav-item nav-link" href="/">Home</a>
                      <a class="nav-item nav-link" href="/about">About</a>
                    </div>
                <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                            <a class="nav-link" href="{% url 'post-create'%}">Add New Post</a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link" href="https://www.facebook.com/">
                              <i class="fab fa-facebook-f"></i>Facebook</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/">
                              <i class="fab fa-instagram"></i>Instagram</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-user"></i> Options </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                {% if request.session.user %}
                                <a class="dropdown-item" href="/Logout">Log out</a>
                                 <a class="dropdown-item" href="/Profile">Profile</a>

                                {% else %}
                                  <a data-target="#modalID" class="dropdown-item" data-toggle="modal" href="#">Login</a>
                                  <a class="dropdown-item" href="/Register">Register</a>
                                {% endif %}
                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
              </div>
          </nav>
    </header>

     <!------------------------------------------------modal---------------------------------------------------->
                                        <div id="modalID" role="dialog" class="modal fade">
                                            <div class="modal-dialog modal-login">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Member Login</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="m-2 p-3">
                                                            <form action="/Login" method="post">
                                                                {% csrf_token %}
                                                                <div class="form-group">
                                                                  <input type="email" class="form-control" name="email" placeholder="Your email address...">
                                                                </div>
                                                                <div class="form-group">
                                                                  <input type="password" class="form-control" name="password" placeholder="Your password...">
                                                                </div>
                                                                <button type="submit" value="Login" class="btn btn-primary">Login</button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                        <a href="#">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!------------------------------------------------modal completed------------------------------------->

    <main role="main" class="container">
          <div class="row">
            <div class="col-md-8">
                {% if messagess %}
                    {% for msg in messagess %}
                        <div class="alert alert-{{msg.tags}}">
                            {{msg}}
                        </div>
                    {% endfor %}
                {% endif %}
              {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
              <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>