{% extends 'blogapp/base.html'%}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{user.image.url}}">
            <div class="media-body">
                <h2 class="account-heading">{{user.first_name}}</h2>
                <p class="text-secondary">{{user.email}}</p>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data">
                 <fieldset class="form-group">
                     <legend class="border-bottom mb-3">Edit Profile</legend>
                     {{u_form.as_p}}
                     {% csrf_token %}
                 </fieldset>
                <div class="form-group">
                <button class="btn btn-primary btn-lg btn-success" type="submit">Update</button>&nbsp;&nbsp;<a href="{% url 'password_reset' %}" class="btn btn-secondary">Reset Password</a>
                </div>
        </form> &nbsp;&nbsp;

    </div>


{% endblock content%}
